/* Universal tags */

* {
	box-sizing: border-box;
}

body {
	font-family: "Courier New", Courier, monospace;
  width: 70%;
  margin: 0 auto;
}

/* Update styles for regular lightbox */

.lb-data .lb-close {
  display: none;
}

.lb-data .lb-caption {
  display: block;
  padding: 5% 2%;
  margin: 0 auto;
	font-weight: lighter;
	font-size: 1em;
  text-align: center;
}

.lb-nav a.lb-prev {
	margin-left: -40%;
	background: url(../lightbox/images/prev.png) 48% no-repeat;
}

.lb-nav a.lb-next {
	margin-right: -60%;
	background: url(../lightbox/images/next.png) 48% no-repeat;
}

/* Styles in the rest of my page */

a {
  text-decoration: none;
}

a img {
	display: block;
	margin: 0 auto;
}

.searchbox {
	text-align: center;
	padding: 5% 0;
	margin: 0 auto;

}

.searchbox input {
	padding: 1% 10%;
	border: 1px solid lightgray;
	border-radius: 5px;
}

.gallery .row-1 {
	display: flex;
}

.gallery .row-2,
.gallery .row-3 {
  display: flex;
	margin: 5% 0;
}


.gallery .row-1 a,
.gallery .row-2 a,
.gallery .row-3 a {
	flex-direction: row;
	flex: 1;
}
