/* Universal tags */

* {
	box-sizing: border-box;
}

body {
	font-family: "Courier New", Courier, monospace;
  width: 80%;
  margin: 0 auto;
}

img {
	max-width: 100%;
}

/* Update styles for regular lightbox */

.lb-data .lb-close {
  display: none;
}

.lb-data .lb-caption {
  display: block;
  padding: 5% 2%;
  margin: 0 auto;
	font-weight: lighter;
	font-size: 1em;
  text-align: center;
}

.lb-nav a.lb-prev {
	margin-left: -40%;
	background: url(../lightbox/images/prev.png) 48% no-repeat;
}

.lb-nav a.lb-next {
	margin-right: -60%;
	background: url(../lightbox/images/next.png) 48% no-repeat;
}

/* Styles in the rest of my page */

a {
  text-decoration: none;
}

a img {
	display: block;
	margin: 0 auto;
}

.search {
	text-align: center;
	padding: 5% 0;
	margin: 0 auto;

}

.search input {
	padding: 1% 10%;
	border: 1px solid lightgray;
	border-radius: 5px;
}

.row-1 {
	display: flex;
}

.row-2,
.row-3 {
  display: flex;
	margin: 5% 0;
}


.row-1 a,
.row-2 a,
.row-3 a {
	flex-direction: row;
	flex: 1;
}

/* Media queries */

@media (max-width: 1000px) {

	.lb-nav a.lb-prev {
		margin-left: 0;
		background: url(../lightbox/images/prev.png) left 48% no-repeat;
	}

	.lb-nav a.lb-next {
		margin-right: 0;
		background: url(../lightbox/images/next.png) right 48% no-repeat;
	}




}


@media (max-width: 400px) {


}
